<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Label</key><string>com.hermes.twilio-voice-tunnel</string>
  <key>ProgramArguments</key>
  <array>
    <string>__HERMES_PYTHON__</string>
    <string>-m</string>
    <string>twilio_voice.supervisor</string>
    <string>supervise</string>
    <string>--config</string><string>__SUPERVISOR_CONFIG__</string>
    <string>--env-file</string><string>__HERMES_ENV_FILE__</string>
    <string>--apply</string>
  </array>
  <key>WorkingDirectory</key><string>__PLUGIN_PARENT__</string>
  <key>RunAtLoad</key><true/>
  <key>KeepAlive</key><true/>
  <key>ThrottleInterval</key><integer>30</integer>
  <key>Umask</key><integer>63</integer>
  <key>ProcessType</key><string>Background</string>
  <key>StandardOutPath</key><string>__OWNER_ONLY_LOG_PATH__</string>
  <key>StandardErrorPath</key><string>__OWNER_ONLY_LOG_PATH__</string>
</dict>
</plist>
